.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f5f7fb;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #293264;
  font-family: "Karla", sans-serif;
  overflow: hidden;
}
.question-container {
  z-index: 1;
}
.blob-1 {
  z-index: 0;
  position: absolute;
  height: 15rem;
  width: 15rem;
}
.blob-2 {
  z-index: 0;
  position: absolute;
  height: 15rem;
  width: 15rem;
}
.container > svg {
  height: 400px;
  width: 400px;
}
.check-answers {
  padding: 1rem 1.5rem;
  color: #ffffff;
  background: #4d5b9e;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.summary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.score {
  font-family: "Inter";
  font-weight: 700;
  font-size: 1rem;
  line-height: 15px;
}

@media only screen and (min-width: 321px) {
  .blob-1 {
    top: -20%;
    left: 60%;
  }
  .blob-2 {
    top: 70%;
    left: -40%;
  }
  .question-container {
    overflow: scroll;
    scroll-snap-align: right;
    scroll-behavior: smooth;
    margin: 40px 20px 0px;
    max-width: fit-content;
  }
  .summary{
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 481px) {
  .blob-1 {
    left: 70%;
    top: -15%;
  }
  .blob-2 {
    top: 60%;
    left: -20%;
  }
  .summary{
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 769px) {
  .container{
    overflow: visible;
    overflow-x: hidden;
  }
  .question-container{
    margin-bottom: 10px;
    margin-top: 3.5rem;
    overflow: visible;
  }
  .blob-1 {
    left: 80%;
    top: -15%;
  }
  .blob-2 {
    top: 60%;
    left: -10%;
  }
}
